<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <log4net>
        <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
            <file value=".\Logs\StatusLogging.log"/>
            <appendToFile value="true"/>
            <datePattern value="-yyyy-MM-dd"/>
            <rollingStyle value="Date"/>
            <maxSizeRollBackups value ="10"/>
            <maximumFileSize value ="10MB"/>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%d [%t] %-5p %c - %m%n"/>
            </layout>
        </appender>

        <root>
            <level value="DEBUG"/>
            <appender-ref ref="RollingFile"/>
        </root>
    </log4net>

    <connectionStrings>
        <add name="Tracer.Properties.Settings.ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\test.MDB" providerName="System.Data.OleDb"/>
    </connectionStrings>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="Pattern01" value="warning;-256;-16777216;False" />
        <add key="Pattern02" value="오류;-65536;-1;True" />
        <add key="Pattern03" value="HPC Job Canceled;-1;-16256;False" />
        <add key="Pattern04" value="예외;-1;-65536;True" />
        <add key="Pattern05" value="exception;-1;-65536;True" />
        <add key="Pattern06" value="MonHpcJobs;-16777216;-256;False" />
        <add key="Pattern07" value="hpcjobmonitor;-16777216;-16711936;False" />
        <add key="Pattern08" value="sweep;-1;-16129;False" />
        <add key="Pattern09" value="KILL;-256;-65536;False" />
        <add key="Pattern10" value="SEARCH;-16744448;-1;False" />
        <add key="Pattern11" value="requeue;-16777216;-16711681;False" />
        <add key="Pattern12" value="error;-65536;-1;True" />
        <add key="Pattern13" value=";-1;-1;False" />
        <add key="Pattern14" value=";-1;-1;False" />
        <add key="Pattern15" value=";-1;-1;False" />
        <add key="Pattern16" value=";-1;-1;False" />
        <add key="Pattern17" value=";-1;-1;False" />
        <add key="Pattern18" value=";-1;-1;False" />
        <add key="Pattern19" value=";-1;-1;False" />
        <add key="Pattern20" value=";-1;-1;False" />
        <add key="ContactInfo01" value="김기현;3303409;01082585321" />
        <add key="ContactInfo02" value="박정찬;3316756;01074610627" />
        <add key="ContactInfo03" value=";;" />
        <add key="ContactInfo04" value=";;" />
        <add key="ContactInfo05" value=";;" />
        <add key="ContactInfo06" value=";;" />
        <add key="ContactInfo07" value=";;" />
        <add key="ContactInfo08" value=";;" />
        <add key="ContactInfo09" value=";;" />
        <add key="ContactInfo10" value=";;" />
        <add key="ContactInfo11" value=";;" />
        <add key="ContactInfo12" value=";;" />
        <add key="ContactInfo13" value=";;" />
        <add key="ContactInfo14" value=";;" />
        <add key="ContactInfo15" value=";;" />
        <add key="SMSServer" value="150.10.182.180:9271" />
        <add key="MessengerServer" value="'http://172.23.1.61:12591" />
    </appSettings>
</configuration>
